@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400&display=swap');

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: 'Passion One', cursive;
}