.login-input{
    margin-right:10px;
    margin-top: 10px;
    outline: none;
    padding: 10px;
    border-color: antiquewhite;
    border-radius: 10px;
}
.login {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.server-alert{
    margin: 5px;
}


.fadeIn {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.4;
    }
}